<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Free restaurant catalog for you">
        <meta name="theme-color" content="#FFD460"/>
        <link rel="apple-touch-icon" href="./images/icons/icon_192x192.png">
        <link rel="icon" href="./images/icons/icon_192x192.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <title>My Food App</title>
    </head>
    <body>
        <header>
            <a href="#main-content" class="skip-link">Skip to Content</a>
            <div id="title"><strong>MY FOOD APP</strong></div>
            <div>
                <button id="hamburger" aria-label="navigation menu">☰</button>
                <nav id="drawer">
                    <ul>
                        <li><a href="#/all">Home</a></li>
                        <li><a href="#/like">Favorite</a></li>
                        <li><a href="https://www.instagram.com/panjiarlins/" target="_blank" rel="noreferrer">About Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main id="main-content" tabindex="0"></main>
        <footer><div>Copyright &copy; 2021 - My Food App</div></footer>
    </body>
</html>