@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* LIKE STYLING */
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #FF5C58;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* LOADING STYLING */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* ERROR STYLING */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  color: red;
  font-size: 1.5em;
  text-align: center;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* CONTENT STYLING */
a,
button,
input,
textarea {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

a:hover {
  font-weight: bolder;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #2D4059;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D4059;
}

header .skip-link {
  text-decoration: none;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #B91646;
  color: whitesmoke;
  padding: 8px;
  z-index: 200;
  border-bottom-right-radius: 5px;
}

header .skip-link:focus {
  top: 0;
}

header .skip-link:hover {
  background-color: grey;
  color: whitesmoke;
}

header #title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: whitesmoke;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #title strong {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header button#hamburger {
  width: 100%;
  border-style: none;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 2.5% 0;
  color: #2D4059;
  background-color: #FFD460;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.75);
}

header #drawer {
  width: 40%;
  height: auto;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: #111;
  z-index: 100;
  background-color: rgba(255, 212, 96, 0.9);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #drawer.open {
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  box-shadow: 8px 0px 0px 0px rgba(45, 64, 89, 0.75);
  -webkit-box-shadow: 8px 0px 0px 0px rgba(45, 64, 89, 0.75);
  -moz-box-shadow: 8px 0px 0px 0px rgba(45, 64, 89, 0.75);
}

header #drawer ul {
  list-style-type: none;
  padding: 5% 1%;
}

header #drawer ul li {
  background-color: #2E4C6D;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 5%;
  border-radius: 50px;
}

header #drawer ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10% 5%;
  color: whitesmoke;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main #hero {
  position: relative;
  height: auto;
  width: 100%;
}

main #hero picture {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #hero picture img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: auto;
  max-height: 500px;
  width: 100%;
}

main #hero > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main #hero > div > div > div:nth-child(1) {
  font-size: 2em;
}

main #hero > div > div > div:nth-child(2) {
  margin-top: 10px;
}

main > h1 {
  text-align: center;
  font-size: 1.5em;
  color: whitesmoke;
  background-color: #2E4C6D;
  padding: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main resto-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 5%;
  gap: 1em;
}

main resto-list > div#restaurant-not-found {
  text-align: center;
  color: #2D4059;
  font-size: 2em;
  font-weight: bold;
  background-color: pink;
}

main resto-list resto-item {
  background-color: #FFD460;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 0;
  width: 100%;
  height: 540px;
  color: #1E2022;
  overflow: hidden;
}

main resto-list resto-item article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}

main resto-list resto-item article section:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
}

main resto-list resto-item article section:nth-child(1) div.city {
  position: absolute;
  top: 5%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2% 3% 2% 5%;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main resto-list resto-item article section:nth-child(1) img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main resto-list resto-item article section:nth-child(2) {
  width: 100%;
  height: 100%;
  padding: 5%;
}

main resto-list resto-item article section:nth-child(2) div.rating {
  font-size: 1em;
  font-weight: 600;
  padding: 0;
  margin: 0 0 10px 0;
}

main resto-list resto-item article section:nth-child(2) > a {
  text-decoration: none;
  color: black;
}

main resto-list resto-item article section:nth-child(2) > a:hover {
  color: #555;
}

main resto-list resto-item article section:nth-child(2) > a h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

main resto-list resto-item article section:nth-child(2) div.description {
  height: 120px;
  overflow: auto;
  padding: 0;
  margin: 0;
  /* Width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

main resto-list resto-item article section:nth-child(2) div.description p {
  padding: 0;
  margin: 0;
}

main resto-list resto-item article section:nth-child(2) div.description::-webkit-scrollbar {
  width: 10px;
}

main resto-list resto-item article section:nth-child(2) div.description::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

main resto-list resto-item article section:nth-child(2) div.description::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

main resto-list resto-item article section:nth-child(2) div.description::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main > div#resto-rank {
  background-color: #FFD460;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 5%;
  margin: 5%;
  width: auto;
  max-width: 1000px;
  height: 500px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  /* Width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

main > div#resto-rank::-webkit-scrollbar {
  width: 15px;
}

main > div#resto-rank::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

main > div#resto-rank::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

main > div#resto-rank::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main > div#resto-rank > div:nth-child(1) {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 2%;
  margin: 1%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 20px;
}

main > div#resto-rank ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}

main > div#resto-rank ul li {
  background-color: #F7F7F7;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 1% 0;
}

main > div#resto-rank ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: left;
  font-weight: bolder;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div#resto-rank ul li a span {
  padding-left: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main > div#detail-restaurant {
  padding: 0;
  margin: 0;
}

main > div#detail-restaurant article {
  width: auto;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main > div#detail-restaurant article section {
  max-width: 900px;
  width: 90%;
}

main > div#detail-restaurant article section:nth-child(1) {
  background-color: #FFD460;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0;
  margin: 5%;
  color: #1E2022;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

main > div#detail-restaurant article section:nth-child(1) > div:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
}

main > div#detail-restaurant article section:nth-child(1) > div:nth-child(1) div.city {
  position: absolute;
  top: 5%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2% 3% 2% 5%;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main > div#detail-restaurant article section:nth-child(1) > div:nth-child(1) img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main > div#detail-restaurant article section:nth-child(1) > div:nth-child(2) {
  width: 100%;
  padding: 5%;
}

main > div#detail-restaurant article section:nth-child(1) > div:nth-child(2) h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

main > div#detail-restaurant article section:nth-child(1) > div:nth-child(2) div.rating,
main > div#detail-restaurant article section:nth-child(1) > div:nth-child(2) div.address {
  font-size: 1em;
  font-weight: 600;
  padding: 0;
  margin: 0 0 10px 0;
}

main > div#detail-restaurant article section:nth-child(1) > div:nth-child(2) p {
  padding: 0;
  margin: 0;
}

main > div#detail-restaurant article section:nth-child(2) {
  background-color: #FFD460;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  padding: 5%;
  margin: 5%;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(1) {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 2%;
  margin: 1%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 10px;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(2) {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 2%;
  margin: 1%;
  margin-bottom: 10px;
  text-align: center;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(2) > div#menu-food {
  font-size: 1em;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(2) > div#menu-food > div {
  background-color: #F7F7F7;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1%;
  margin: 1%;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(3) {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 2%;
  margin: 1%;
  text-align: center;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(3) > div#menu-drink {
  font-size: 1em;
}

main > div#detail-restaurant article section:nth-child(2) > div:nth-child(3) > div#menu-drink > div {
  background-color: #F7F7F7;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1%;
  margin: 1%;
}

main > div#detail-restaurant article section:nth-child(3) {
  background-color: #FFD460;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5%;
  margin: 5%;
  overflow: auto;
}

main > div#detail-restaurant article section:nth-child(3) > div:nth-child(1) {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 2%;
  margin: 1%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 10px;
}

main > div#detail-restaurant article section:nth-child(3) > div#review {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 2%;
  margin: 1%;
  margin-bottom: 10px;
  max-height: 500px;
  overflow: auto;
  /* Width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

main > div#detail-restaurant article section:nth-child(3) > div#review::-webkit-scrollbar {
  width: 10px;
}

main > div#detail-restaurant article section:nth-child(3) > div#review::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

main > div#detail-restaurant article section:nth-child(3) > div#review::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

main > div#detail-restaurant article section:nth-child(3) > div#review::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main > div#detail-restaurant article section:nth-child(3) > div#review > div {
  background-color: #F7F7F7;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1%;
  margin: 1%;
}

main > div#detail-restaurant article section:nth-child(3) > div#review > div > div {
  padding: 0.5% 5%;
  text-align: left;
}

main > div#detail-restaurant article section:nth-child(3) > div#review > div > div:nth-child(1) {
  font-size: 1em;
}

main > div#detail-restaurant article section:nth-child(3) > div#review > div > div:nth-child(2) {
  font-size: 1em;
  overflow: auto;
}

main > div#detail-restaurant article section:nth-child(3) > div#review > div > div:nth-child(3) {
  font-size: 0.8em;
  font-weight: lighter;
}

main > div#detail-restaurant article section:nth-child(3) > form {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2%;
  margin: 1%;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-offline {
  text-align: center;
  color: #2D4059;
  font-size: 2em;
  font-weight: bold;
  background-color: pink;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-online {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-online > div#form-name-review {
  background-color: #F7F7F7;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1%;
  margin: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-online > div#form-name-review > label {
  text-align: center;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-online > div#form-name-review > input {
  border-radius: 20px;
  border-style: none;
  background-color: white;
  padding-left: 8px;
  min-width: 44px;
  min-height: 44px;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-online > textarea {
  border-style: none;
  background-color: #F7F7F7;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 3%;
  margin: 1%;
  min-width: 44px;
  min-height: 44px;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-online > input {
  border-style: none;
  background-color: #F7F7F7;
  font-size: 1em;
  font-weight: bold;
  color: #1E2022;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1%;
  margin: 1%;
  min-width: 44px;
  min-height: 44px;
}

main > div#detail-restaurant article section:nth-child(3) > form > div#form-when-online > input:hover {
  color: #F7F7F7;
  background-color: #555;
}

footer {
  width: 100%;
  background-color: #FFD460;
  color: #1E2022;
  text-align: center;
  padding: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

@media screen and (min-width: 680px) {
  header {
    display: block;
  }
  header #title {
    padding: 2.5%;
    font-size: 2em;
  }
  header button#hamburger {
    display: none;
  }
  header div:nth-child(1) {
    padding: 5%;
  }
  header #drawer {
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: static;
    background-color: #FFD460;
    padding: 0;
    margin: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  header #drawer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #drawer ul li {
    padding: 0;
    margin: 5%;
    display: inline-block;
  }
  header #drawer ul li a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main resto-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  main resto-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  main resto-list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=main.css.map */